* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  background: url(../../assets/images/nenchinh.png) no-repeat center
    center/cover;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6),
    13px 5px 37px rgba(62, 182, 198, 0.66);
}

.login-box h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.user-box {
  position: relative;

  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #03e9f4;
  }
}

.login-btn {
  width: 100%;
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 4px;
  color: #03e9f4;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;

  &:hover {
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
}

.forgot-password {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 18px;
  padding: 0 10px;
  color: #03e9f4;

  span:first-child {
    color: rgb(239, 239, 239);
  }

  span:hover {
    color: #dde2e2;
  }

  .sign-up {
    text-decoration: none;
    color: #03e9f4;
    padding: 10px;

    &:hover {
      background-color: #03e9f4;
      border-radius: 5px;
      color: #dde2e2;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    }
  }
}
